#feedback {
	height: 110px;
	width: 104px;
	position: fixed;
	top: 42%;
	z-index: 999;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
	display: block;
	background: orange;
	height: 37px;
	width: 115px;
	padding: 7px 10px;
	color: #fff;
	font-family: Arial, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 1px 1px 1px #00aeaf;
}

#feedback a:hover {
	background: #00AEAF;/* #06c; */
}

input.form-control , select.form-control {
	height: 35px !important;
}

button.btn-primary, button.btn-default {
	height: 35px !important; 
}